body { 
    background:url(assets/background.png);
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify 
}

h1,h2,h3,h4,h5{
    text-align: center; 
    font-style:oblique; 
    font-weight:normal; 
    line-height: 1.5; 
    margin-top: .5em; 
    margin-bottom: .5em;
}
img{
  border:solid;
  border-style: dashed;
  border-color:sienna;
  padding: 50px 50px 50px 50px;
  width: 50%;
}


h1 {
    font-size: 300%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0em;
    border:solid;
    border-color:navajowhite;
    border-radius: 20px;
}
figcaption{
    font-style: italic;
    margin-top: 5px;
    color:darkolivegreen;
}
div.chapter {page-break-before: always; margin-top: 5em;}

p {
    text-indent: 1em;
    margin-bottom: 0.25em; 
    font-style:italic;
    font-size: 20px;
    border:solid;
    border-width: thin;
    border-color:saddlebrown;
    border-radius: 50px;
    margin: 20px;
    padding:20px;
 }

p.poem {text-indent: 0%;
        margin-left: 10%;
        font-size: 80%;
        margin:1em; }


div.fig { display:block;
          margin:0 auto;
          text-align:center; }

a:link {color:darkslateblue; text-decoration:none}
a:visited {color:darkslateblue; text-decoration:none}
a:hover {color:red}

